:root {
    --base-color: hsla(35, 0%, 95%, 1);
    --light-main-color: hsla(35, 100%, 95%, 1);
    --main-color: hsla(35, 100%, 50%, 1);
    --dark-main-color: hsla(35, 100%, 40%, 1);
    --accent-color: hsla(20, 100%, 50%, 1);
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: var(--base-color);
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.navbar nav {
    position: relative;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .5rem 1rem;
}

.navbar nav h2 {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar input {
    position: absolute;
    z-index: 999;
    width: 38px;
    height: 42px;
    top: calc((82.19px - 42px) / 2);
    right: 1rem;
    margin: 0;
    opacity: 0;
}

.navbar i {
    border: 5px solid var(--light-main-color);
    box-sizing: border-box;
}

.navbar input:hover+i, .toggle input:focus+i {
    opacity: 0.5;
}

.menu-wrapper {
    width: 100%;
    display: none;
}

.navbar input:checked~.menu-wrapper {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
}

main {
    padding: 2em;
}

article header {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

article header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/40079.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

h1 {
    font-size: 2rem;
    color: var(--main-color);
    text-align: center;
    z-index: 999;
}

h2 {
    padding: 0.5em;
    background: var(--light-main-color);
    border-left: 5px solid var(--main-color);
}

h3 {
    padding: 0.25em 0.5em;
    background: transparent;
    border-left: 5px solid var(--main-color);
}

h4 {
    position: relative;
    padding-left: 2em;
}

h4::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1e3";
    position: absolute;
    font-size: 1em;
    left: 0;
    bottom: 0;
}

h4::before {
    animation: rotate 1s linear 0s alternate infinite;
}

@keyframes rotate {
    from {
        transform: rotate(-90deg) translate(0);
    }
    to {
        transform: rotate(0deg) translate(100%);
    }
}

footer {
    height: 100px;
    background-color: var(--light-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlight {
    color: var(--accent-color);
    font-size: 1.2em;
    font-weight: bold;
}

.marker1 {
    background: linear-gradient(transparent 60%, #f1f2a9 0%);
    font-weight: bold
}

.marker2 {
    background: linear-gradient(transparent 60%, #fcd19a 0%);
    font-weight: bold
}

.page-top {
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 2em;
    color: var(--main-color);
    background-color: var(--light-main-color);
    width: 100px;
    padding: 20px 0;
    text-align: center;
    border-radius: 5px;
    border: 5px solid var(--main-color);
    box-sizing: border-box;
    opacity: 0.5;
}

.page-top:hover {
    opacity: 1;
}

@media(min-width:576px) {
    main {
        display: flex;
    }
    article {
        width: 70%;
    }
    .sidebar {
        width: 30%;
        padding: 0 1em;
    }
}