:root {
    --base-color: hsla(180, 0%, 20%, 1);
    --light-main-color: hsla(180, 100%, 95%, 1);
    /* --main-color: hsla(180, 100%, 40%, 1); */
    --dark-main-color: hsla(180, 100%, 40%, 1);
    --accent-color: hsla(0, 50%, 50%, 1);
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

.navbar {
    height: 50px;
    background-color: var(--dark-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.team {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #29b6bb;
    color: #FFF;
    border-bottom: solid 4px #8ea2ce;
    border-radius: 3px;
}

.team:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.activity {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #29b6bb;
    color: #FFF;
    border-bottom: solid 4px #8ea2ce;
    border-radius: 3px;
}

.activity:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.dialy {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #29b6bb;
    color: #FFF;
    border-bottom: solid 4px #8ea2ce;
    border-radius: 3px
}

.dialy:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none
}

.album {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #29b6bb;
    color: #FFF;
    border-bottom: solid 4px #8ea2ce;
    border-radius: 3px
}

.album:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none
}

.guest {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #29b6bb;
    color: #FFF;
    border-bottom: solid 4px #8ea2ce;
    border-radius: 3px
}

.guest:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none
}

.contact {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #29b6bb;
    color: #FFF;
    border-bottom: solid 4px #8ea2ce;
    border-radius: 3px
}

.contact:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none
}

.sponsor {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #29b6bb;
    color: #FFF;
    border-bottom: solid 4px #8ea2ce;
    border-radius: 3px
}

.sponsor:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none .
}

.access {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #29b6bb;
    color: #FFF;
    border-bottom: solid 4px #8ea2ce;
    border-radius: 3px
}

.access:hover {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
}

main {
    padding: 2em;
}

article header {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

article header::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/40079.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

h1 {
    font-size: 2rem;
    color: rgb(25, 231, 128);
    text-align: center;
    z-index: 999;
}

h2 {
    padding: 0.5em;
    color: var(--base-color);
    background: var(--light-main-color);
    border-left: 5px solid var(--dark-main-color);
}

h3 {
    padding: 0.25em 0.5em;
    color: var(--base-color);
    background: transparent;
    border-left: 5px solid var(--dark-main-color);
}

h4 {
    position: relative;
    padding-left: 2em;
}

h4::before {
    font-family: "Font Awesome 5 Free";
    content: "\f1e3";
    position: absolute;
    font-size: 1em;
    left: 0;
    bottom: 0;
    color: #000;
}

/*** animation ***/

h4::before {
    animation: rotate 1s linear 0s alternate infinite;
}

/*** keyframes ***/

@keyframes rotate {
    from {
        transform: rotate(-90deg) translate(0);
    }
    to {
        transform: rotate(0deg) translate(100%);
    }
}

p {
    color: var(--base-color);
}

code {
    color: var(--accent-color);
    background-color: #DDD;
    border-radius: 0.25em;
    padding: 0.2rem 0.4rem;
}

.sidebar ul {
    color: var(--dark-main-color);
}

.sidebar a {
    color: var(--dark-main-color);
}

footer {
    height: 100px;
    background-color: var(--light-main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 0.8em;
}

footer a {
    color: var(--base-color);
}

@media(min-width:576px) {
    main {
        display: flex;
    }
    article {
        width: 70%;
    }
    .sidebar {
        width: 30%;
        padding: 0 1em;
    }
}

.league {
    color: rgb(255, 51, 0);
    font-size: 18px;
}

page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}

#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 20px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}

#page-top a:hover {
    text-decoration: none;
    background: hsla(180, 100%, 40%, 1);
}